* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {

    --fundo_padrao: #263238;
    --texto_padrao: #FFFFFF;
    --operacoes_sucedidas: #43A047;
    --operacoes_falhas: #E53935;
    --venda_confirmada: #43A047;
    --venda_cancelada: #E53935;
    --venda_pendente: #FB8C00;
    --botão_verde: #43A047;
    --botão_azul: #1976D2;
    --detalhes_azul: #1976D2;

    --fonte_principal: 'Poppins', sans-serif;
}

.row {
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--fundo_padrao);
    color: var(--texto_padrao);
}

h2 {
    font-family: var(--fonte_principal);
    font-weight: bold;
}

p {
    font-family: var(--fonte_principal);
    font-weight: 200;
}

.comecar_agora {
    background-color: var(--botão_verde);
    color: var(--texto_padrao);
    padding: 10px;
    border-radius: 15px;
    border-color: transparent;
    transition: 0.3s ease-out;
}

.comecar_agora:hover {
    background-color: var(--botão_azul);
    padding: 12px;
    transition: 0.3s ease-in;
    font-size: 18px;
}