* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {

    --fundo_padrao: #263238;
    --texto_padrao: #FFFFFF;
    --operacoes_sucedidas: #43A047;
    --operacoes_falhas: #E53935;
    --venda_confirmada: #43A047;
    --venda_cancelada: #E53935;
    --venda_pendente: #FB8C00;
    --botão_verde: #43A047;
    --botão_azul: #1976D2;
    --detalhes_azul: #1976D2;

    --fonte_principal: 'Poppins', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

body {
    background-color: var(--fundo_padrao);
    color: var(--texto_padrao);
}

/* ===== Navbar ===== */
.navbar {
    background-color: var(--fundo_padrao);
    padding: 1rem 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);

    animation: slideInFromLeft 0.8s ease-out forwards;
    opacity: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--texto_padrao);
}

.navbar-brand img {
    width: 40px;
    margin-right: 10px;
}

.nav-link {
    color: var(--texto_padrao);
    font-weight: 500;
    margin-left: 1rem;
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: var(--botão_verde);
    text-decoration: underline;
    transition: 0.3s ;
}

h2 {
    font-family: var(--fonte_principal);
    font-weight: bold;
    font-size: 4rem;
}

p {
    font-family: var(--fonte_principal);
    font-weight: 200;
    font-size: 1.5rem;
}

.comecar_agora {
    background-color: var(--botão_verde);
    color: var(--texto_padrao);
    padding: 10px;
    border-radius: 15px;
    border-color: transparent;
    transition: 0.3s ease-out;
    font-size: 1.5rem;
}

.comecar_agora:hover {
    background-color: var(--botão_azul);
    padding: 12px;
    transition: 0.3s ease-in;
    font-size: 1.5rem;
}

.mais_conteudo {
    padding-top: 8rem;

    animation: fadeIn 0.8s ease-out 1.2s forwards;
    opacity: 0;
}