* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /* Define a cor do TEXTO do autofill */
    -webkit-text-fill-color: #FFFFFF !important;

    /* "Pinta" o fundo com a sua cor.
      (Usamos box-shadow pois 'background-color' é ignorado)
    */
    box-shadow: 0 0 0 30px #24282d inset !important;
    -webkit-box-shadow: 0 0 0 30px #24282d inset !important;
}

:root {

    --fundo_padrao: #263238;
    --fundo_mais_escuro: #171b21;
    --texto_padrao_branco: #FFFFFF;
    --texto_padrao_preto: #000000;
    --operacoes_sucedidas: #43A047;
    --operacoes_falhas: #E53935;
    --venda_confirmada: #43A047;
    --venda_cancelada: #E53935;
    --venda_pendente: #FB8C00;
    --botão_verde: #43A047;
    --botão_azul: #1976D2;
    --detalhes_azul: #1976D2;

    --fonte_principal: 'Poppins', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(50px); /* Começa 50px abaixo */
    }
    to {
        opacity: 1;
        transform: translateY(0);    /* Termina na posição normal */
    }
}

body {
    background-color: var(--fundo_mais_escuro);
    color: var(--texto_padrao_branco);
}

.painel {
    background-color: var(--fundo_mais_escuro);
}

/* ===== Animações Pdrão ===== */
.animacaoPadrao {
    animation: fadeInSlideUp 0.8s ease-out;
}

/* ===== Estilizações padrão para links ===== */
.botao_link {
    transition: 0.2s;
}

.botao_link:hover {
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

/* ===== Navbar ===== */
.navbar {
    background-color: var(--fundo_padrao);
    padding: 1rem 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);

    animation: slideInFromLeft 0.8s ease-out forwards;
    opacity: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--texto_padrao_branco);
}

.navbar-brand img {
    width: 40px;
    margin-right: 10px;
}

.nav-link {
    color: var(--texto_padrao_branco);
    font-weight: 500;
    margin-left: 1rem;
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: var(--botão_azul);
    text-decoration: underline;
    transition: 0.3s ;
}

h2 {
    font-family: var(--fonte_principal);
    font-weight: bold;
    font-size: 4rem;
}

h3 {
    font-family: var(--fonte_principal);
    font-weight: bold;
    font-size: 3rem;
}

p {
    font-family: var(--fonte_principal);
    font-weight: 200;
    font-size: 1.5rem;
}

.comecar_agora {
    background-color: var(--botão_verde);
    color: var(--texto_padrao_branco);
    padding: 10px;
    border-radius: 15px;
    border-color: transparent;
    transition: 0.3s ease-out;
    font-size: 1.5rem;
}

.comecar_agora:hover {
    background-color: var(--botão_azul);
    padding: 12px;
    transition: 0.3s ease-in;
    font-size: 1.5rem;
}

.mais_conteudo {
    padding-top: 8rem;

    animation: fadeIn 0.8s ease-out 1.2s forwards;
    opacity: 0;
}

.recursos {
    padding-top: 10rem;

    animation: slideInFromLeft 0.8s ease-out 1.2s forwards;
    opacity: 0;
}

.rodape {
    padding-top: 25rem;
}

.rodape-conteudo {
    color: var(--texto_padrao_preto);
}




/* ===== Tela de cadastro ===== */

.cadastroBody {
    background-image: url('../img/bgCadastro.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--fundo_mais_escuro);
    color: var(--texto_padrao_branco);
}

.formCadastroAcesso {
    color: var(--texto_padrao_branco);
    animation: fadeInSlideUp 0.8s ease-out;
}

.formCadastroAcesso .form-control {
    background-color: #24282d;
    color: #FFFFFF; /* Define a cor do texto digitado */
    border-color: #444; /* Melhora a cor da borda */
}

.formCadastroAcesso .form-control::placeholder {
    color: #999;
    opacity: 1; /* Garante que fique visível */
}

.form_cadastro .form-control:focus {
    background-color: #24282d;
    color: #FFFFFF;
    border-color: var(--detalhes_azul);
    box-shadow: 0 0 0 0.25rem rgba(25, 118, 210, 0.25); /* Usa seu azul como cor de foco */
}

.botaoCadastroAcesso {
    font-weight: bold;
    transition: 0.2s ease-out;
}

.botaoCadastroAcesso:hover {
    background-color: var(--botão_verde);;
    transition: 0.2s ease-in;
}

/* ===== Tela de acesso ===== */

.acessoBody {
    background-image: url('../img/fundoAcesso.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-color: var(--fundo_mais_escuro);
    color: var(--texto_padrao_branco);
}


/* Tela inicial cliente */
.card-dashboard {
    background-color: var(--fundo_padrao);
    border-radius: 12px;
    padding: 20px;
    border: 1px solid #2f343a;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    transition: ease-out 0.2s;
}

.card-dashboard:hover {
    background-color: var(--fundo_mais_escuro);
    transition: ease-in 0.2s;
}

.card-dashboard-grafico {
    background-color: var(--fundo_padrao);
    border-radius: 12px;
    padding: 20px;
    border: 1px solid #2f343a;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    transition: ease-out 0.2s;
}

.card-dashboard-grafico:hover {
    background-color: var(--fundo_mais_escuro);
    transition: ease-in 0.2s;
}

.card-dashboard h5 {
    font-size: 0.9rem;
    color: #aeb0b4;
    margin-bottom: 10px;
    font-weight: 400;
}

.card-dashboard .valor {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.icon-box {
    font-size: 2rem;
    color: #fff;
}

